*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 20px;
  background-color: #FAFBFF;
}

header {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  color: #08189D;
}

.filters {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;
}



.filter-group,
.sort-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 20px;
}

.tags {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 12px;
}

button {
  padding: 8px 16px;
  border-radius: 50px;
  font-size: 18px;
  color: #0018A4;
  border: 2px solid transparent;
  cursor: pointer;
}

.filter-btn {
  background: #CCFFE2;
}

.filter-btn:hover {
  border-color: #0018A4;
}

.filter-btn:active {
  background-color: #0018A4;
  color: white;
}

.sort-btn {
  background-color: #FCECEA;
}

.sort-btn:hover {
  border-color: #0018A4;
  background-color: #EC6F8A;
  color: white;
}

.sort-btn:active {
  background-color: #EC6F8A;
  color: white;
}

.recipes {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-content: center;
}

.recipe-card {
  background-color: white;
  border-radius: 16px;
  padding: 16px 16px 24px 16px;
  border: 1.5px solid #E9E9E9;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.place-holder {
  min-height: 100%;
  display: flex;
  background-color: #FFFFFF;
}

.recipe-card img {
  width: 100%;
  border-radius: 12px;
}

.title {
  margin: 16px 0;
}

.recipe-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  margin: 16px 0;
}

.info-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.label {
  font-size: 18px;
  font-weight: 700;
  margin-right: 5px;
}

.value {
  font-weight: 400;
}

.ingredients h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 16px 0;
}

.divider {
  border: none;
  border-top: 1px solid #E9E9E9;
  /* margin: 20px 0; */
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

a:hover .recipe-card {
  cursor: pointer;
  box-shadow: 0px 0px 30px 0px rgba(0, 24, 164, 0.20);
  border: 1.5px solid #0018A4;
}

ul {
  list-style-type: none;
  padding: 0;
}

h2 {
  font-size: 22px;
  font-weight: 700;
}

@media (min-width: 600px) {
  .filters {
    flex-direction: row;
    gap: 88px;
  }

  .tags {
    flex-direction: row;
    margin: 0 px;
  }
}


@media (min-width: 700px) {
  .recipes {
    grid-template-columns: repeat(2, 1fr);
  }

  h1 {
    margin-bottom: 44px;
  }
}

@media (min-width: 900px) {
  .recipes {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .recipes {
    grid-template-columns: repeat(4, 1fr);
  }
}